/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. header
04. banner
05. about
06. menus
07. chefs
08. reservations
09. footer
10. medias queries
11. jumper
12. admin and table
13. delivery 


--------------------------------------------- */


/* font & reset css */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Varela+Round&display=swap');


/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Varela Round',sans-serif, serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}


/* header */
html {
  scroll-behavior: smooth;
}

.italotlogo{
  font-family: 'Varela Round',sans-serif, serif;
  font-weight: bold;
  color: #fd5c3d;
  font-size: 1.2rem;
  text-decoration: none;
  padding-left: 4.6rem;
  transition: 0.2s ease-in-out;
}

.italotlogo:hover{
  color: #ffcc00;
}


.navbg{
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
}

.navlogin{
  padding-right: 6rem;
  font-family: 'Varela Round',sans-serif, serif !important;
}

.mainnav{
  padding-left: 2rem;
  font-family: 'Varela Round',sans-serif, serif;
}

.nav-link span{
  color: #870a1f;
  background-color: #fec566;
  padding: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 2px;
  font-weight: 500;
  transition: 0.5s;
}

.nav-link span:hover{
  color: #fd5c3d;
  background-color: #fff;
}

@media (max-width: 992px) {
  .mainnav{
    padding-left: 0rem;
    color: #fec566 !important;
    margin-right: 0 !important;
  }

  .italotlogo{
    padding-left: 0rem;
  }
}

/*banner*/
#top{  
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100vh;
  background-color: #000000;
  opacity: 1;
  background-image:  linear-gradient(135deg, #0c0c0c 25%, transparent 25%), linear-gradient(225deg, #0c0c0c 25%, transparent 25%), linear-gradient(45deg, #0c0c0c 25%, transparent 25%), linear-gradient(315deg, #0c0c0c 25%, #000000 25%);
  background-position:  4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}

.left p{
  font-weight: bold;
  font-size: 2rem;
  color: #fe921f;
  line-height: 2.5rem;
}

.left h1{
  text-transform: capitalize;
  font-size: 6rem;
  color: #fd5c3d;
  font-weight: bold;
}

.left{
  text-transform: uppercase;
  font-family: 'Varela Round',sans-serif, serif;
}

.title{
  margin-top: 2rem;
  text-shadow: -5px 5px 4px #000000;
}

.btn-reservation{
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.6rem;
  transition: 0.5s;
}

.btn-reservation:hover{
  padding-top: 0.6rem;
  background-color: #fded1400;
}

.btn-reservation-main{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.banner{
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.boomyscarousel{
  width: 95%;
  margin-left: 3rem;
}


@media (max-width: 992px) {
  .left p{
    font-size: 2rem;
    line-height: 2rem;
  }
  .left h1{
    font-size: 4.5rem;
  }

  .boomyscarousel{
    width: 100%;
    margin: 0rem;
  }
  
  .btn-reservation-main{
    text-align: center;
  }

  .banner{
    flex-wrap: wrap;
  }
}

/*
---------------------------------------------
about
---------------------------------------------
*/

#about {
  padding-top: 5rem;
  overflow-x: hidden;
}

#about h6{
  text-transform: uppercase;
  color: #fe921f;
  font-weight: bold;
}

#about h2{
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bolder;
  line-height: 4.3rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  background: -webkit-linear-gradient(#fe921f, #fd5c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-left{
  background-color: #fe921f;
  opacity: 1;
  background-image:  linear-gradient(30deg, #ffa927 12%, transparent 12.5%, transparent 87%, #ffa927 87.5%, #ffa927), linear-gradient(150deg, #ffa927 12%, transparent 12.5%, transparent 87%, #ffa927 87.5%, #ffa927), linear-gradient(30deg, #ffa927 12%, transparent 12.5%, transparent 87%, #ffa927 87.5%, #ffa927), linear-gradient(150deg, #ffa927 12%, transparent 12.5%, transparent 87%, #ffa927 87.5%, #ffa927), linear-gradient(60deg, #ffa92777 25%, transparent 25.5%, transparent 75%, #ffa92777 75%, #ffa92777), linear-gradient(60deg, #ffa92777 25%, transparent 25.5%, transparent 75%, #ffa92777 75%, #ffa92777);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;

  padding: 2.5rem;
  border-radius: 5px;
  width: 530px;
  height: 530px;
  margin: 30px;
}


.about-left p{
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.about-right{
  border-radius: 5px;
}

.parent {
  width: 530px;
  height: 530px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: default;
  border-radius: 5px;
  margin: 30px;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.child a{
  display: none;
}

.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.bg-one {
  background-image: url(https://images.unsplash.com/photo-1592861956120-e524fc739696?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
}

.bg-two {
  background-image: url(https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=422&q=80);
}

.bg-three {
  background-image: url(https://images.unsplash.com/photo-1562967916-eb82221dfb92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=386&q=80);
}

.about-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media (max-width: 1200px) {
  .about-flex{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .about-flex{
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  .about-flex{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 630px) {
  .about-left{  

    width: 300px;
    height: 300px;
    margin: 20px;
  }
  .about-left p{

    font-size: 15px;
    line-height: 20px;
  }

  .parent {
    width: 300px;
    height: 300px;
    margin: 20px;
  }

  #about h2{
    font-size: 3rem;
    line-height: 3.4rem;
    
  }
}

/*
---------------------------------------------
menu
---------------------------------------------
*/
#menu .scooter img {
  width: 5rem;
}


#menu .scooter{
  position: relative;
  transition: 0.2s;
}

#menu .scooter:hover{
  position: relative;
  margin-left: 10px;
}

#menu .scooter label{
  margin-bottom: 0 !important;
}

#btnControl {
  display: none;
}

#btnControl:checked + label > img {
  margin-left: 150rem;
  
  transition: 1s;
}

#menu {
  padding: 5rem 0rem;
  overflow-x: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,92,61,1) 100%); 
  padding: 50px 0px;
}

#menu h6{
  text-transform: uppercase;
  color: #fe921f;
  font-weight: bold;
  padding-top: 2rem;
}

#menu h2{
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bolder;
  line-height: 4.3rem;
  padding-top: 1rem;
  background: -webkit-linear-gradient(#fe921f, #fd5c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte {
  margin: 35px;
  width: 300px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "adds";

  border-radius: 8px;
  background: white;
  box-shadow: 5px 5px 10px #fd5d3d60;
  text-align: center;
  transition: 0.5s ease;
  cursor: default;
}

.carte-image{
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.carte-text{
  grid-area: text;
  margin: 25px;
}

.carte-text h4{
  margin-bottom: 20px;
  color: #e7284a;
  font-weight: bold;
}

.carte-text p{
color:#fd5c3d;
}

.carte-adds{
  grid-area: adds;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #e7284a;
}

input[type='number']{
  width: 80px;
} 

.carte-add{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  
}

.carte-adds{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;

}

.carte-adds .submit{
  margin-top: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: 0.5s ease-in;
  border-radius: 5px;

}

.carte-adds .submit:hover{
  border-radius: 5px;
  background-color: white;
  color: #fe921f;
}

.carte-adds .price{
  font-family: sans-serif, serif;
  font-size: 35px;
  font-weight: 600;
  color: white;

}

.carte-adds .quantity{
  display: none;
}



.carte:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px #fd5d3d27;
}

.carte-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  .about-flex{
    flex-direction: column;
    align-items: center;
  }

  #menu h2{
    font-size: 3rem;
    line-height: 3.4rem;
    
  }
}


/*
---------------------------------------------
chefs
---------------------------------------------
*/
#chefs {
  padding: 3rem 0rem;
  background: rgb(253,92,61);
  background: linear-gradient(180deg, rgba(253,92,61,1) 0%, rgba(135,10,31,1) 100%);
}

#chefs h6{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding-top: 2rem;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}

#chefs h2{
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bolder;
  line-height: 4.3rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  color: white;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}

.foodchef-carte {
  margin: 20px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px 50px;
  grid-template-areas: "facebook" "twitter" "instagram";
  border-radius: 8px;
  box-shadow: 5px 5px 10px #55080888;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

  transition: 0.5s ease;
  cursor: default;
}

.foodchef-text{
  color: white;
  text-transform: uppercase;
  text-align: start;
  margin: 20px;
  margin-top: 245px;
  margin-bottom: 0;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}

.foodchef-text h4{
  font-size: 1.5rem;
}

.foodchef-text p{
  color: white;
  text-transform: uppercase;
  text-align: start;
}

.foodchef-color{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 350px;
  transition: 1s;
}

.foodchef-color:hover{
  background: rgb(231,40,74);
  background: linear-gradient(0deg, rgba(231,40,74,1) 0%, rgba(255,255,255,0) 50%);
  
}

.social-icons{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.social-icons li a{
  font-size: 20px;
  color: white;
  margin-right: 10px;
  transition: 0.3s;
}

.social-icons li a:hover{
  color: #870a1f;
}

.foodchef-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.foodchef-carte:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px #7508085e;
}

@media (max-width: 750px) {
  .about-flex{
    flex-direction: column;
    align-items: center;
  }

  #chefs h2{
    font-size: 3rem;
    line-height: 3.4rem;
    
  }
}

/* 
---------------------------------------------
reservation
--------------------------------------------- 
*/
#reservation .section-heading {

  margin-bottom: 30px;
}

#reservation .section-heading h6 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

#reservation .section-heading h2 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

#reservation .section-heading h6:before {
  background-color: #fff;
}

#reservation p {
  color: #fff;
  margin-bottom: 65px;
}

#reservation {
  padding: 50px 0px;
  padding-bottom: 100px;
  background: rgb(135,10,31);
  background: linear-gradient(180deg, rgba(135,10,31,1) 0%, rgba(0,0,0,1) 100%);
}

#reservation .phone,
#reservation .message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

#reservation .phone i,
#reservation .message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: #fe921f;
  border-radius: 50%;
  font-size: 24px;
  margin-top: -35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#reservation .phone h4,
#reservation .message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

#reservation .phone span a,
#reservation .message span a {
  font-size: 14px;
  color: #2a2a2a;
  transition: all .3s;
}

#reservation .phone span a:hover,
#reservation .message span a:hover {
  color: #fb5849;
}

#contact {
  margin-left: 30px;
  padding: 45px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#contact h4 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #2a2a2a;
  margin-bottom: 30px;
}

.datepicker-days {
  padding: 30px;
  cursor: pointer;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  color: #2a2a2a;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border-color: #fb5849;
}

.contact-form button {
  margin-top: -10px;
  font-size: 13px;
  color: #fff;
  background-color: #fe921f;
  padding: 12px 25px;
  width: 100%;
  box-shadow: none;
  border: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
  text-transform: uppercase;
}

.contact-form button:hover {
  background-color: #fff;
  color: #fe921f;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #2a2a2a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2a2a2a;
}

.contact-form ::placeholder {
  color: #2a2a2a;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

footer {
  background-color: #000000;
  padding-bottom: 20px;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-content ul li a{
  margin-right: 30px;
}

.footer-content ul li a:hover{
  color: #fe921f;
}

.italotfooter{
  display: block;
  color: white;
  font-size: 20px;
  margin-right: 40px;
  transition: 0.2s ease-in;
  font-weight: bold;
}

.italotfooter:hover{
  color: #e7284a;
}


/*responsive*/
@media (max-width: 992px) {
  #reservation .phone {
    margin-bottom: 60px;
  }
  #contact {
    margin-left: 0px;
    margin-top: 30px;
  }
  #offers .tabs-content .left-list {
    margin-right: 0px;
  }

  #offers .tabs-content .right-list {
    margin-left: 0px;
  }
  footer .right-text-content {
    text-align: center;
  }
}

/* Jumper */
#preloader {
  overflow: hidden;
  background-color: #fb5849;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ADMIN  AND TABLE*/

.italotcontainer{
  background-color: rgb(218, 218, 218);
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.italotcontainer tbody tr td a{
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.2s;
}

.navbgadmin{
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
}

.italotform{
  border-collapse: collapse; 
	margin:50px auto;
  padding: 2rem;
  background-color: black;
  color: white;
  font-weight: 500;
  width: 750px; 
  border-radius: 5px;
}

.italotinput{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.italotinput h4{
  text-align: center;
}

.italotinput-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.italotsubmit input{
  border: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: 0.2s;
  margin-left: 1rem;
}

.italotsubmit input:hover{
  color: white;
  background-color: black;
}

.italotform input{
  border: none;
  border-radius: 5px;
  color: black;
  height: 3rem;
  padding: 5px;
}

.italotdescription{
  height: 5rem !important;
}

.italotadmintitle{
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(177, 177, 177);
  width: 750px; 
  padding-top: 6rem;
  padding-left: 2rem;
}

table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr{ 
	background: rgb(255, 255, 255); 
	}

th { 
	background: black;
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	text-align: left; 
  border: 1px solid rgb(192, 192, 192); 
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

  .italotform{
    width: 100%;
    border-radius: 0px;
  }

  .italotinput-search{
    display: flex;
    flex-direction: column;
  }

  .italotsubmit{
    width: 20px;
  }
  .italotsubmit input{
    margin: 0;
    margin-top: 1rem;
  }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 35%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 10px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

/* delivery */
#delivery{
  height: 140vh;
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: #000000;

  background-image:  linear-gradient(135deg, #0c0c0c 25%, transparent 25%), linear-gradient(225deg, #0c0c0c 25%, transparent 25%), linear-gradient(45deg, #0c0c0c 25%, transparent 25%), linear-gradient(315deg, #0c0c0c 25%, #000000 25%);
  background-position:  4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}

#delivery h2{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  background: -webkit-linear-gradient(#fe921f, #fd5c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-delivery{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-delivery{
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  color: #fe921f;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.6rem;
  transition: 0.5s;
}

.btn-delivery:hover{
  padding-top: 0.6rem;
  background-color: #fded1400;
}

#appear{
  display: none;
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
}

#appear .info{
  padding: 10px;
}

#appear .btn-delivery-2{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}